*, *::before, *::after {
  box-sizing: border-box;
}

#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p {
  font-size: 1.2em;
}

li {
  list-style: none;
  margin: 3px 10%;
  background-color: #fffdd0;
  border-radius: 15px;
}

input {
  border-radius: 8px;
  padding: 0.3em 0.6em;
  font-size: 0.8em;
  font-family: inherit;
  transition: border-color 0.25s;
  margin-bottom: 1em;
}

.title-container {
  text-align: left;
  margin-bottom: 3em;
}

.title {
  font-size: 3em;
  margin-bottom: 0em;
}

.control {
  display: flex;
}

.container, .mini-container {
  display: flex;
  justify-content: space-evenly;
}

.container {
  align-items: flex-start;
  margin: auto;
  position: relative;
}

.mini-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 25px;
  padding: 15px;
  border-radius: 15px;
  min-width: 20%;
  box-shadow: 0 4px 8px #0003, 0 6px 20px #00000030;
}

.drink-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.answer-space {
  background-color: #e2c393;
  min-height: 2.7em;
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
  margin-bottom: 20px;
  border-radius: 15px;
  clear: both;
}

.mini-header {
  height: 2em;
  padding-top: 6px;
  padding-bottom: 10px;
  background-color: #e2c393;
  text-align: center;
  border-radius: 10px;
  width: 93%;
  margin: 0;
}

#wrong {
  background-color: #db5d5d;
}

#correct {
  background-color: #bf74bf;
}

#coffee-bag {
  height: 100px;
}