:root {
  background-color: black;
  background-size: 35%;
  background-blend-mode: multiply;
}

button {
  font-size: 1em;
  opacity: 0.8;
  border-radius: 8px;
  padding: 1em 2em;
  margin: 2em;
  font-family: 'Poppins', sans-serif;
}

button:hover {
  transform: scale(1.1);
}